@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    .menu-li-color {
        @apply text-[#81859f]
    }

    .menu-ul {
        @apply flex fixed top-2 left-1/2 -translate-x-1/2 items-center bg-[#212121f7] px-5 py-2 rounded-full text-white w-max m-auto border-[1px] border-white/10;
    }

    .white-btn {
        @apply bg-white !text-black py-1 hover:shadow-sign-up-btn transition-shadow duration-700 !px-4 rounded-full font-manrope-bold;
    }

    .custom-container {
        @apply Desktop-l:*:max-w-[70rem] *:mx-auto;
    }

    @font-face {
        font-family: 'manrope';
        src: url(../font/Manrope/Manrope-Medium.ttf);
        /*
        src: url(../font/Manrope/Manrope-Light.ttf);
        src: url(../font/Manrope/Manrope-ExtraLight.ttf);
        src: url(../font/Manrope/Manrope-Regular.ttf);
        src: url(../font/Manrope/Manrope-SemiBold.ttf);
        src: url(../font/Manrope/Manrope-Bold.ttf);
        src: url(../font/Manrope/Manrope-ExtraBold.ttf); */
    }

    @font-face {
        font-family: 'manrope-bold';
        src: url(../font/Manrope/Manrope-ExtraBold.ttf);
    }


}

@layer utilities {
    .meet-black-color {
        background-image: linear-gradient(to right, #eec5bd, #f3b1a5 35%, #c6caf6 72%, #dad9e9);
    }

    .effortlessly-card-img-effect {
        background-image: linear-gradient(rgba(21, 27, 34, 0), #151b22);
    }
}